In [1]:
import pandas as pd

In [6]:
# comprobar si funciona pandas o no
datos = {
    "Nombre":["Ana", "Luis", "Pedro"],
    "Edad":[23,30, 27]
}

df = pd.DataFrame(datos)

print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

## Series

Es un arreglo unidimencional que puede contener datos de cualquier tipo como enteros, flotantes, cadenas de texto, etc y tiene un indice asociado.Lo que facilita la manipulacion y el acceso a los datos.

In [7]:
# Crear una lista

edad = [30,40,50]

In [25]:
# Convertirla a una serie

serie = pd.Series(edad)

In [31]:
# Mostrar resultado
serie

Alex     30
John     40
Maria    50
dtype: int64

In [29]:
# Cambiar indices

serie = pd.Series(edad, index = ["Alex", "John", "Maria"])

In [30]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [26]:
serie [1]

np.int64(40)

In [32]:
serie ["Alex"]

np.int64(30)

## Ejemplo 2

In [23]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [24]:
type (naranjas)

pandas.core.series.Series

In [35]:
naranjas = pd.Series([1,4,9,2,6,10,200], index = ["Marco", "Ana", "Juan", "Pedro", "Estela", "Ivan", "Luis"])
print(naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64