# Transformacion de DataFrames

## Inspeccionar Un Data Frame

In [2]:
# Importa la libreria de Pandas
import pandas as pd

In [8]:
homelessness = pd.read_csv('./Datasets/homelessness.csv')

In [7]:
# Imprimir los primeros datos con head
homelessness.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop,total
0,0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,4,Pacific,California,109008.0,20964.0,39461588,129972.0

In [9]:
# Imprimir informacion acerca de homelessness
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB
None

In [10]:
# Imprimir el tama√±o de homelessness
print(homelessness.shape)

(51, 6)

In [11]:
# Print la descripcion de homelessness
print(homelessness.describe())

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

## Partes de un DataFrame

In [12]:
# Imprimir los Valores de Homelessness
print(homelessness.values)

[[0 'East South Central' 'Alabama' 2570.0 864.0 4887681]
 [1 'Pacific' 'Alaska' 1434.0 582.0 735139]
 [2 'Mountain' 'Arizona' 7259.0 2606.0 7158024]
 [3 'West South Central' 'Arkansas' 2280.0 432.0 3009733]
 [4 'Pacific' 'California' 109008.0 20964.0 39461588]
 [5 'Mountain' 'Colorado' 7607.0 3250.0 5691287]
 [6 'New England' 'Connecticut' 2280.0 1696.0 3571520]
 [7 'South Atlantic' 'Delaware' 708.0 374.0 965479]
 [8 'South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
 [9 'South Atlantic' 'Florida' 21443.0 9587.0 21244317]
 [10 'South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
 [11 'Pacific' 'Hawaii' 4131.0 2399.0 1420593]
 [12 'Mountain' 'Idaho' 1297.0 715.0 1750536]
 [13 'East North Central' 'Illinois' 6752.0 3891.0 12723071]
 [14 'East North Central' 'Indiana' 3776.0 1482.0 6695497]
 [15 'West North Central' 'Iowa' 1711.0 1038.0 3148618]
 [16 'West North Central' 'Kansas' 1443.0 773.0 2911359]
 [17 'East South Central' 'Kentucky' 2735.0 953.0 4461153]
 [18 'West South Central' 'Louisiana' 2540.0 519.0 4659690]
 [19 'New England' 'Maine' 1450.0 1066.0 1339057]
 [20 'South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
 [21 'New England' 'Massachusetts' 6811.0 13257.0 6882635]
 [22 'East North Central' 'Michigan' 5209.0 3142.0 9984072]
 [23 'West North Central' 'Minnesota' 3993.0 3250.0 5606249]
 [24 'East South Central' 'Mississippi' 1024.0 328.0 2981020]
 [25 'West North Central' 'Missouri' 3776.0 2107.0 6121623]
 [26 'Mountain' 'Montana' 983.0 422.0 1060665]
 [27 'West North Central' 'Nebraska' 1745.0 676.0 1925614]
 [28 'Mountain' 'Nevada' 7058.0 486.0 3027341]
 [29 'New England' 'New Hampshire' 835.0 615.0 1353465]
 [30 'Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
 [31 'Mountain' 'New Mexico' 1949.0 602.0 2092741]
 [32 'Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
 [33 'South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
 [34 'West North Central' 'North Dakota' 467.0 75.0 758080]
 [35 'East North Central' 'Ohio' 6929.0 3320.0 11676341]
 [36 'West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
 [37 'Pacific' 'Oregon' 11139.0 3337.0 4181886]
 [38 'Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
 [39 'New England' 'Rhode Island' 747.0 354.0 1058287]
 [40 'South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
 [41 'West North Central' 'South Dakota' 836.0 323.0 878698]
 [42 'East South Central' 'Tennessee' 6139.0 1744.0 6771631]
 [43 'West South Central' 'Texas' 19199.0 6111.0 28628666]
 [44 'Mountain' 'Utah' 1904.0 972.0 3153550]
 [45 'New England' 'Vermont' 780.0 511.0 624358]
 [46 'South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
 [47 'Pacific' 'Washington' 16424.0 5880.0 7523869]
 [48 'South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
 [49 'East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
 [50 'Mountain' 'Wyoming' 434.0 205.0 577601]]

In [13]:
# Imprimir los indices de las columnas de homelessness
print(homelessness.columns)

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [14]:
# Imprimir los indeces de las filas de homelessness
print(homelessness.index)

RangeIndex(start=0, stop=51, step=1)

## Ordenar Filas

| Ordenar en ... | Sintaxis
|----------------| ---------------------------------|
| Una columnas   | `df.short_values("bread")`                       |
| Varias columnas   | `df.short_values(["bread, "weight_kg"]")`        |

1. Ordenar homelessness por el numero de personas sin hogar de la columna individuals, de menor a mayor, y guardarlo como homelessness_ind

2. Ordenar homelessness por el numero de personas sin hogar family_members en orden descendente y guardalo como homelessness_fam

In [15]:
homelessness_ind = homelessness.sort_values('individuals')
print(homelessness_ind.head(10))

    Unnamed: 0              region          state  individuals  \
50          50            Mountain        Wyoming        434.0
34          34  West North Central   North Dakota        467.0
7            7      South Atlantic       Delaware        708.0
39          39         New England   Rhode Island        747.0
45          45         New England        Vermont        780.0
29          29         New England  New Hampshire        835.0
41          41  West North Central   South Dakota        836.0
26          26            Mountain        Montana        983.0
48          48      South Atlantic  West Virginia       1021.0
24          24  East South Central    Mississippi       1024.0

    family_members  state_pop
50           205.0     577601
34            75.0     758080
7            374.0     965479
39           354.0    1058287
45           511.0     624358
29           615.0    1353465
41           323.0     878698
26           422.0    1060665
48           222.0    1804291
24           328.0    2981020

In [16]:
# Ordenar homelessness por family_members de forma descendente
homelessness_fam = homelessness.sort_values('family_members', ascending=False)
print(homelessness_fam.head(10))

    Unnamed: 0              region          state  individuals  \
32          32        Mid-Atlantic       New York      39827.0
4            4             Pacific     California     109008.0
21          21         New England  Massachusetts       6811.0
9            9      South Atlantic        Florida      21443.0
43          43  West South Central          Texas      19199.0
47          47             Pacific     Washington      16424.0
38          38        Mid-Atlantic   Pennsylvania       8163.0
13          13  East North Central       Illinois       6752.0
30          30        Mid-Atlantic     New Jersey       6048.0
37          37             Pacific         Oregon      11139.0

    family_members  state_pop
32         52070.0   19530351
4          20964.0   39461588
21         13257.0    6882635
9           9587.0   21244317
43          6111.0   28628666
47          5880.0    7523869
38          5349.0   12800922
13          3891.0   12723071
30          3350.0    8886025
37          3337.0    4181886

## A√±adir Nuevas Columnas

No te quedes solo con los datos que te dan. En su lugar, se pueden a√±adir nuevas columnas aun DataFrame. A esto se le lam `transformacion`, `mutacion`, e `Ingenieria de Caracteristicas`.

Se pueden crear columnas nuevas desde cero, pero es habitual derivarlas de otras columnas, por ejemplo, sumando o cambiando sus unidades.

**Instrucciones**

- A√±ade una nueva columna a homelessness, denominada **`total`**, que contenga la suma de las columnas `individuales` y `family_members`
- A√±ade otra columna a homelessness, denominada **`p_homeless`**, que contenga la proporcion de la poblacion de personas sin hogar total con respecto a la poblacion `total` de cada estado `stage_pop.`

In [18]:
# Agregar una columna total como la suma de individuals y family_members
homelessness['total'] = homelessness['individuals'] + homelessness['family_members']

# Agregar una columna p_homeless como proporcion del total de homeless
# de la poblacion para el estado de la poblacion
homelessness['p_homeless'] = homelessness['total'] / homelessness['stage_pop']

# Visualizar el resultado
print(homelessness.head(10))

KeyError: 'stage_pop'

In [21]:
homelessness = [['state', 'individuals', 'stage_pop', 'total', 'p_homeless']]

In [22]:
columnas = [['state', 'individuals', 'stage_pop', 'total', 'p_homeless']]
homelessness[columnas].head(10)

TypeError: list indices must be integers or slices, not list

## Practica - Combo Ataque

Hasta ahora se han visto los cuatro tipos m√°s comunes de manipulaciones de datos: `Ordenar`, `filas`, `subconjuntar columnas`, `subconjuntar filas` y `a√±adir nuevas columnas`.

En un analisis de la vida real, puedes mezclar y combinar estas cuatro manipulaciones para responder a multiples preguntas.

En este ejercicio responderas la pregunta: `"¬øQu√© estado tiene el mayor numero de personas sin hogar por cada 10,000 habitantes"`. Combina las nuevas habilidades en pandas para averiguarlo.

**Instrucciones**

- A√±ade una columna a homelessness, indiv_per_10k, que contenga el n√∫mero de personas sin hogar por cada diez mil personas en cada estado, utilizando state_pop para la poblacion del estado.
- Subconjunta las filas en las que indiv_per_10k sea superior a 20, asignandolas a high_homelessness.
- Ordena high_homelessness en orden descendente indiv_per_10k, asignando a high_homelessness_srt. Seleccionando solo las columnas state e indiv_per_10k de high_homelessness_srt y guardarlas como result y Visualiza result.